<h1>All Cars</h1>

<div class="container">
<h1>All Cars</h1>
-----------------------------------------------------------------------------------------------------------------------------------
    <div class="row">
        <% @cars.each do |car| %>

        <div class="col-sm-8 col-md-4 col-lg-6">
        <h2><%= car.name %></h2>
        <% if car.image.present? %>
            <% if car.image.start_with?('/image') %>
                <%= link_to image_tag(car.image, skip_pipeline: true, class: "card-img-top img-fluid"), car %>
            <% else %>
            <%= link_to cl_image_tag(car.image, class: "card-img-top img-fluid"), car %>
            <% end %>
        <% else %>
            <%= link_to image_tag('https://picsum.photos/500', class: "card-img-top img-fluid"), car %>
        <% end %>
        </div>
        <% end %>
        
    </div>
</div>